<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.health.READ_EXERCISE" />
    <uses-permission android:name="android.permission.health.WRITE_EXERCISE" />
    <uses-permission android:name="android.permission.health.WRITE_TOTAL_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TiziHealthSyncApp"
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_my_calendar"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_menu_my_calendar"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiziHealthSync">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TiziHealthSync">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Health Connect: show privacy rationale when user taps policy link -->
        <activity
            android:name=".PermissionsRationaleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="ViewPermissionUsageActivity"
            android:exported="true"
            android:targetActivity=".PermissionsRationaleActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>
    </application>

    <!-- Allow querying Health Connect package -->
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
</manifest>
